@media only screen and (max-width:768px) and (min-width:498px) {
     .cert-box {
          width: 85% !important;
          span {padding: 0.2rem 3rem !important;}
          border: none !important;
          img {width: 100% !important; border: none;}
     }
     
}

@media only screen and (max-width:498px) and (min-width:368px) {
     .cert-box {
          width: 85% !important;
          span {background: none !important; text-align: center !important;}
          border: none !important;
          img {width: 100% !important; border: none;}
     }
}

@media only screen and (max-width:368px) and (min-width:168px) {
     .cert-box {
          width: 85% !important;
          span {background: none !important; text-align: center !important;}
          border: none !important;
          img {width: 100% !important; border: none;}
     }
}